@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #0f172a;
  /* dark slate blue */
  --foreground: #f8fafc;
  /* light slate gray */
}