.small-scrollBar:hover::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    display: contents;
    position: absolute;
    background: #0790e8;
}

.small-scrollBar::-webkit-scrollbar {
    /* width: 5px; */
    height: 3px;
    display: none;
}

.small-scrollBar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.small-scrollBar::-webkit-scrollbar-thumb {
    background: #c5c2c2;
    border-radius: 5px;
}

.small-scrollBar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.universal-overlay-scrollbar {
    /* Enable scrolling */
    overflow: auto;
    /* Hide scrollbar from document flow */
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    /* Firefox */
}

.universal-overlay-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    display: block;
    background: transparent;
}

.universal-overlay-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.5);
    border-radius: 5px;
}

.universal-overlay-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
}

.mini-scrollBar {
    position: relative;
}

.mini-scrollBar::-webkit-scrollbar {
    width: 2px;
}

.mini-scrollBar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.mini-scrollBar::-webkit-scrollbar-thumb {
    background: #c5c2c2;
    border-radius: 5px;
}